 <div class="app-task contents-width">
  <h2>スケジュール一覧</h2>
 </div>
 
<div class="contents-width">
<% if flash.notice %>
    <p class="notice"><%= flash.notice %></p>
<% end %>
  <table class="task-table" border="3" style="border-collapse: collapse; border-color:#C0C0C0;">
    <thred>
      <tr>
        <th>ID</th>
        <th>タイトル</th>
        <th>開始日</th>
        <th>終了日</th>
        <th>終日</th>
        <th>スケジュール更新日時</th>
        <th>確認</th>
        <th>編集</th>
        <th>削除</th>
       </tr>
    </thred>
    <tbody>
      <% @posts.each do |post| %>
      <tr>
        <td><%= post.id %></td>
        <td><%= post.title %></td>
        <td><%= post.s_date %></td>
        <td><%= post.e_date %></td>
        <td>
        <% if post.check %>
          <strong>○</strong>
        <% end %></td>
        <td><%= post.updated_at.to_s(:datetime_jp) %></td>
        <td><%= link_to "確認", post %></td>
        <td><%= link_to "編集", [:edit, post] %></td>
        <td><%= link_to "削除", post,method: :delete, data: { confirm: "本当に削除しますか？" } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<p class="new-task">
    <%= link_to "スケジュール新規登録", "/posts/new" %>
    </p>
</div>
<% content_for(:sum, "スケジュール合計：#{@count} ") %>