 <div class="app-task contents-width">
  <h2>スケジュール新規登録</h2>
 </div>
 <div class="contents-width">
<%= form_for @post do |f| %>
    <table class="task-table" border="3" style="border-collapse: collapse; border-color:#C0C0C0;">
      <tbody>
        <tr>
          <th><%= f.label :task_title ,"タイトル" %></th>
          <td><%= f.text_field :title %></td>
        </tr>
        <tr>
          <th><%= f.label :task_s_date ,"開始日" %></th>
          <td><%= f.date_select :s_date %></td>
        </tr>
        <tr>
          <th><%= f.label :task_e_date ,"終了日" %></th>
          <td><%= f.date_select :e_date %></td>
        </tr>
        <tr>
          <th><%= f.label :task_check ,"終日" %></th>
          <td><%= f.check_box :check %></td>
        </tr>
        <tr>
          <th><%= f.label :task_comment ,"スケージュールメモ" %></th>
          <td><%= f.text_area :Comment ,:size => "50x15"%></td>
        </tr>
      </tbody>
      </table>
      <div class="task-regi">
        <ul>
           <li><%= f.submit "登録する"%></li>
           <li><%= link_to "スケジュール一覧に戻る", :posts %></li>
        </ul>
      </div>
<% end %>
</div>