<!DOCTYPE html>
<html>
  <head>
    <title>TaskApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="app-header">
    <h1>スケジュールマネージャー</h1>
    </header>
    <%= yield %>
  </body>
   <footer>
    <div class="app-footer">
    <h1>現在日時:<%= Date.today.strftime("%Y年 %m月 %d日") %>／
    <%= yield(:sum) %></h1>
    </div>
  </footer>
</html>